# Ignore macOS system files
.DS_Store
*.DS_Store

# Ignore backup files (ending with ~)
*~
*.tmp

# Excluded directories
03\ Medical\ School/*
*Medical\ School/*
Private/*
.obsidian/*
.stfolder/*
/stignore
